.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.btn-success {
    --bs-btn-bg: #badbcc!important;
}

.columns-container{
    display: flex;
    justify-content: space-between;
}

.columns {
    width: 48%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

#spacing {
    margin-top: 1%;
}